<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h3>Appointments</h3>
<table>
    <tr><th>ID</th><th>First Name</th><th>Email</th><th>Date</th><th>Time</th></tr>

    <!--Use a for each loop to display all Database properties -->
    <tr th:each="a:${aList}">
        <td th:text="${a.id}">1</td>
        <td th:text="${a.firstName}">Bob</td>
        <td th:text="${a.email}">Bob@gmail.com</td>
        <td th:text="${a.aDate}">2021-10-30</td>
        <td th:text="${a.aTime}">3:31</td>
    </tr>
</table>

<br><hr>

<h3>Book Appointment</h3>
<form method="post" action="#" th:action="@{/formAppointment}" th:object="${appointment}">
    First Name: <input type="text" name="name" th:field="*{firstName}">
    Email: <input type="email" name="email" th:field="*{email}">
    Date: <input type="date" name="date" th:field="*{aDate}">
    Time: <input type="time" name="time" th:field="*{aTime}">

    <input type="submit" value="Add Appointment">
</form>

</body>
</html>